.AboutUs {
  padding: 5%;
}
.image {
  height: 30rem;
  box-shadow: 10px 5px 5px grey;
  width: 25rem;
  border-radius: 30px;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .image {
    width: 30rem;
  }
}
@media screen and (max-width: 540px) {
  .image {
    width: 20rem;
  }
}
@media screen and (max-width: 330px) {
  .image {
    width: 15rem;
  }
}
