.parallax {
  background-image: url("https://img.freepik.com/premium-photo/professional-image-fresh-vegetables-black-table_763713-3888.jpg?w=740");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-content {
  text-align: center;
  color: #ffffff;
}

.top-left-text {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
}

.center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.center-text h1 {
  font-size: 3rem;
}

.center-text h2 {
  font-size: 1.5rem;
}
