.headers {
  position: relative;
  object-fit: fill;
  height: 62rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-photo/flat-lay-composition-vegetables-with-copyspace_23-2148190190.jpg?t=st=1688109844~exp=1688110444~hmac=c1ebdb850f1327711f34ac13285c4ced4fcfcff661017819926f6577f9ce342c");
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

.textContainer {
  text-align: center;
  width: 28rem;
  color: white;
}

.title {
  font-size: 50px;
}

.subtitle {
  font-size: 25px;
}
