.page-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10% 0%;
}
.image-container {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.image1 {
  background-image: url("C:\Users\91830\OneDrive\Desktop\Grocery\src\Assets\top-view-fresh-meat-slices-raw-meat-round-wooden-desk-dark-food-freshness-animal-cow-meal-food-kitchen.jpg");
}
.image2 {
  background-image: url("C:\Users\91830\OneDrive\Desktop\Grocery\src\Assets\top-view-table-full-delicious-food-composition.jpg");
}
.image3 {
  background-image: url("C:\Users\91830\OneDrive\Desktop\Grocery\src\Assets\vertical-shot-traditional-indian-paneer-butter-masala-cheese-cottage-curry-black-surface.jpg");
}

.container {
  flex-basis: 33.33%;
  padding: 20px;
  box-sizing: border-box;
}

.price-label {
  position: absolute;
  left: 40%;
  top: 20px;
  background-color: #575c58;
  padding: 8px;
  border-radius: 10px;
}
.price-label :hover {
  cursor: pointer;
  background-color: #575c58aa;
}

.image-container {
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  border-radius: 40px;
}

.button {
  position: absolute;
  bottom: 10px;
  left: 40%;
  outline: none;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
}
.button:focus {
  border: none;
}
.button:hover {
  box-shadow: 0px 5px 2px #575c58;
  transform: translateY(1px);
}
a {
  text-decoration: none;
  border: none;
  background: none;
  color: white;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-basis: 100%;
  }
}
